*{
  font-family: sans-serif, arial , Helvetica;
}

html,
body {
  padding: 0;
  margin: 0;
}

a:link, 
a:visited {
  text-decoration: none;
}

a:hover, 
button:hover {
  cursor: pointer;
}

.responsive {
  width: 100%;
  height: auto;
}

.header-container .header-navbar,
.presentation-container section,
.branch-container,
.place-container,
section > .main-bloc {
  max-width: 1020px;
  margin: 0 auto;
}

.content p,
.quote-bloc {
  font-size: 26px;
}

h2,
.title-bloc p {
  white-space: pre-wrap;
}